%container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

%button {
  border: none;
  color: white;
  padding: 20px 60px;
  border-radius: $common-border-radius;
  outline: none;
  cursor: pointer;
  font: {
    size: 18px;
    weight: bold;
  }
}