$main-text-color: #0149a1;
$secondary-text-color: #0149a1;
$menu-text-color:  #5d6981;
$fb-icon-color: #3c5a99;
$twitter-icon-color: #28aae1;
$button-bg-color: #ff2d55;

$main-font-size: 18px;
$line-height: 26px;
$main-font: 'Roboto', sans-serif;

$common-border-radius: 28px;


