.about-work {
  background-color: $main-text-color;
  text-align: center;
  padding-bottom: 118px;

  &__title {
    padding-top: 104px;
    color: white;
    font: {
      size: 72px;
      weight: bold;
    }
  }

  &__caption {
    color: #5483bb;
    font: {
      size: 36px;
      weight: 300;
    }
  }

  &__schema {
    padding-top: 106px;
  }

  &__schema-img {
    width: 100%;
  }

  &__info {
    padding-top: 90px;
    text-align: left;
    line-height: $line-height;
    color: white;
    font: {
      size: 18px;
      weight: 300;
    }
  }

  &__info-text {
    padding-bottom: 37px;
  }

  &__price-button {
    @extend %button;
    margin-top: 37px;
    background-color: white;
    color: $main-text-color;
  }
}